/* Reset default browser styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Global styles specific to music.html */
body {
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: #ffffff;
    line-height: 1.6;
    margin: 0; /* Ensure no default margins */
    padding: 0; /* Ensure no default padding */
}

.container {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 60px; /* Space for footer */
    position: relative; /* Relative positioning for footer placement */
}

header {
    background-color: #1d1d1d;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 2.5em;
    color: #f04e23;
}

nav {
    background-color: #1d1d1d;
    padding: 10px 0;
    text-align: center;
}

.nav-links {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.nav-links li {
    display: inline-block;
    margin: 0 10px;
}

.nav-link {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    background: linear-gradient(135deg, #6e8efb, #a777e3);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-weight: bold;
}

.nav-link:hover {
    background-color: #555;
    transform: scale(1.05);
}

main {
    padding: 20px 0;
}

.section {
    margin-bottom: 40px;
}

.section h2 {
    color: #f04e23;
    font-size: 2em;
    border-bottom: 2px solid #f04e23;
    padding-bottom: 10px;
    text-align: center;
}

.video-container {
    display: flex;
    flex-direction: column; /* Display videos in a column layout */
    align-items: center; /* Center align videos horizontally */
    overflow-x: hidden; /* Hide horizontal overflow */
}

.video {
    margin: 20px 0; /* Adjust vertical spacing between videos */
    width: 100%; /* Ensure videos fill the container width */
    max-width: 560px; /* Limit maximum width of videos */
    position: relative; /* Relative positioning for iframe */
}

.video iframe {
    width: 100%; /* Ensure iframe fills its container */
    height: auto; /* Allow iframe height to adjust based on width */
    min-height: 250px; /* Minimum height for visibility */
}
